/* ====== Global Reset ====== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #2563eb;
    --primary-dark: #1e40af;
    --success: #16a34a;
    --danger: #dc2626;
    --light-bg: #f8fafc;
    --card-bg: #ffffff;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --shadow: 0 10px 25px rgba(0,0,0,0.05);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--light-bg);
    color: var(--text-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------Header-----*/
header{
    background: linear-gradient(135deg, var(--primary), var(--primary-dark)  );
    color: white;
    padding: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}

/*----Navigatiion----*/
nav{
    background: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    box-shadow: var(--shadow);
}

nav a{
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

nav a:hover{
    color: var(--primary);
}

/*----Main content----*/

main{
    flex: 1;
    padding: 2rem 3rem;
}
